.footer{
    height: 100px;
    background-color: blue;
    display: flex;
    position: fixed;
    z-index:2;
    bottom: 0;
    width: 100vw;
    padding-top: 16px;
    padding-bottom: 16;
    

}
.footer>button{
width:30px;
}
.div{
    background-color: yellow;
    height: 100px;
}
.button{
    background-color: red;
}